.article-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.comment-section {
    height: 100px;
    background-color: red;
    display: none;
}